
*{
margin: 0px;
padding: 0px;
}

header{
   display: flex; 
   justify-content: space-between;
   /* background-color: aqua; */
   align-items: center;   
   height: 100px;
}

#flexbox{
    padding:20px 0px 20px 80px;
    font-size: 25px;
    font-weight: bold;
    /* background-color:aquamarine; */
    width: 180px;
    justify-content: center;
}

#ul1{
    display: flex;
    padding:10px;
    /* background-color: aquamarine;    */
    font-size: larger;
    font-weight: bold;
    width: 350px;
    justify-content: center;
}

ul li{
    list-style: none;
    padding: 10px;    
} 

#main1{
    display:flex;
    justify-content: space-evenly;
    margin-top: 20px;
    background-color: lightgray;
    padding: 40px;
}

.content{
    border: 0px solid black;
    width: 450px;
    height: 450px;

}
#para{
    margin-left: 130px;
    text-align: justify;
}

p{
    font-size: 17px;
}
#tel{
    display: flex;
    /* flex-direction: column; */
    align-items: center;
    margin-right: 130px;  
}

#main_heading{
    margin-bottom: 10px;
}

#main2{
    margin: 30px;
    text-align: center;
} 

#gallery{
    font-weight: bolder;
    font-size: 40px;
}
.img{
    height: 200px;
    width: 300px;
    padding: 10px;
}

footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: lightgray;
}
#aircampus{
    padding-left: 30px;
    font-size: 17px;
}
#ul2{
    display: flex;

}