*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

header{
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    /* background-color: aqua; */
    align-items: center;   
}

#flexbox{
    /* border: 1px solid black; */
    margin-left: 80px;
    font-size: 25px;
    font-weight: bold;
    /* background-color:aquamarine; */
    width: auto;
}

#ul1{
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: aquamarine;    */
    font-size: larger;
    font-weight: bold;
    width: auto;
    /* border: 1px solid black; */
    margin-right: 80px;
    gap: 20px;
}

ul li{
    list-style: none;
} 


/* css of main content 1 */
#main1{
    margin-top: 20px;
    display:flex;
    justify-content: space-evenly;
    background-color: lightgray;
    padding: 40px;
    /* border: 1px solid black; */
}

.content{
    /* border: 1px solid black; */
    /* width: 50%; */
    height: auto;
    overflow: hidden;
    padding: 20px;
}

#para{
    margin-left: 80px;
    text-align: justify;
    color: #444;
    width: 60%;
}

p{
    font-size: 1.1rem;
    margin-bottom: 10px;
}

#tel{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-right: 80px; 
    padding: 20px; 
    width: 30%;
}

#main_heading{
    margin-bottom: 10px;
}


/* css of main content 2 */
#main2{
    margin: 30px 130px;
    text-align: center;
    /* border: 1px solid black; */
    padding: 10px;
} 

#gallery{
    font-weight: bolder;
    font-size: 40px;
}

#images {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.img{
    height: 200px;
    width: 300px;
    margin: 20px;
}

/* css of footer section */
footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: lightgray;
    padding-left: 30px;
    padding-right: 30px;
    padding: 5px 30px;
}
#aircampus{
    font-size: 17px;
}
#ul2{
    display: flex;
    gap: 15px;
}


/* responsive web design */
@media screen and (max-width: 1300px) {
    #main1 {
        display: flex;
        flex-direction: column;
    }
    #para {
        width: auto;
        margin: 50px;
    }
    #tel {
        width: 70%;
        margin: auto;

    }
    #tel img {
        width: fit-content;
        height: 250px;
    }
  }

  @media screen and (max-width: 750px) {
    #tel img {
        width: fit-content;
        height: 200px;
    }
  }
  @media screen and (max-width: 650px) {
    #tel img {
        width: fit-content;
        height: 150px;
    }
  }